<p><%= t(".paragraph_1", email: @resource.email) %></p>

<p><%= t(".paragraph_2", url: root_url) %></p>

<p><%= link_to t(".accept"), accept_invitation_url(@resource, invitation_token: @token) %></p>

<p><%= t(".paragraph_4") %></p>
