---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/sms
    body:
      encoding: UTF-8
      string: '{"phone_number":"07851456789","template_id":"7d101a7d-9678-464e-a57d-e18714afbc5d","personalisation":{"contact_name":"Firstcontact1
        Lastcontact1","exemptions":["F1 Use of spam in cooking","F2 Use of spam in
        cooking","F3 Use of spam in cooking"],"expiry_date":"29 June 2026","magic_link_url":"http://localhost:3000/renew/mZgoHa4RjLriMmTHKKk3sCx3","reference":"WEX000001","site_location":"ST
        58337 72855"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - 90f37dd6-dc42-42c6-5d14-362cf540a59a
    body:
      encoding: UTF-8
      string: '{"errors":[{"error":"AuthError","message":"Error: Your system clock
        must be accurate to within 30 seconds"}],"status_code":403}

        '
  recorded_at: Thu, 29 Jun 2023 13:36:29 GMT
recorded_with: VCR 6.2.0
