---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact1@example.com","template_id":"b1c9cda2-b502-4667-b22c-63e8725f7a27","personalisation":{"contact_name":"Firstcontact1
        Lastcontact1","exemptions":["F1 Use of spam in cooking","F2 Use of spam in
        cooking","F3 Use of spam in cooking"],"expiry_date":"20 August 2028","magic_link_url":"http://localhost:3000/renew/oi1NQGqaakLbx5t7MMto1i8C","reference":"WEX000001","site_location":"ST
        58337 72855","unsubscribe_link":"http://localhost:3000/registrations/unsubscribe/MviCZxbFE8V4tT4Jh8BhmLTt"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact1 Lastcontact1,\r\n\r\n# Renew
        your waste exemptions by 20 August 2028\r\n\r\nYou can renew online in a few
        minutes.\r\n\r\nRenew at:\r\n\r\nhttp://localhost:3000/renew/oi1NQGqaakLbx5t7MMto1i8C\r\n\r\n\r\nSite
        location: ST 58337 72855\r\nRegistration number: WEX000001\r\n\r\nExemptions:\r\n\r\n\n\n*
        F1 Use of spam in cooking\n* F2 Use of spam in cooking\n* F3 Use of spam in
        cooking\r\n\r\n\r\nIf you no longer need them, you don\u2019t need to do anything.
        They will be removed from the public register.\r\n\r\nRead the updated waste
        exemptions guidance:\r\nhttps://www.gov.uk/government/publications/waste-exemptions-how-to-choose-register-and-pay/registration-rules-and-guidance\r\n\r\nTo
        unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3000/registrations/unsubscribe/MviCZxbFE8V4tT4Jh8BhmLTt)\r\n\r\nEnvironment
        Agency Helpline\r\n03708 506 506 (Monday to Friday, 8am to 6pm)\r\nenquiries@environment-agency.gov.uk\r\n\r\n----\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Waste
        exemptions expire on 20 August 2028, renew online now"},"id":"3e1ebfa0-7eb8-4b9e-91da-7b4dd1cb35b8","reference":null,"scheduled_for":null,"template":{"id":"b1c9cda2-b502-4667-b22c-63e8725f7a27","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/b1c9cda2-b502-4667-b22c-63e8725f7a27","version":10},"uri":"https://api.notifications.service.gov.uk/v2/notifications/3e1ebfa0-7eb8-4b9e-91da-7b4dd1cb35b8"}

        '
  recorded_at: Wed, 20 Aug 2025 19:03:58 GMT
recorded_with: VCR 6.3.1
