---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact24@example.com","template_id":"f308a8a9-0358-41e1-b633-ea4044ad9580","personalisation":{"contact_name":"Firstcontact24
        Lastcontact24","exemptions":["F59 Use of spam in cooking","F60 Use of spam
        in cooking","F61 Use of spam in cooking"],"expiry_date":"13 November 2028","magic_link_url":"http://localhost:3000/renew/L4mTmLsurUtFrfbXR4yWbVWn","reference":"WEX000024","site_location":"ST
        58337 72855","unsubscribe_link":"http://localhost:3000/registrations/unsubscribe/8nSf3Ee21fCJEKCdL6vRAb9m"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact24 Lastcontact24,\r\n\r\n# Renew
        your waste exemptions by 13 November 2028\r\n\r\nThis is your final reminder
        to renew exemptions online. You can ignore it if you\u2019ve already renewed
        or no longer need them. \r\n\r\nRenew at:\r\n\r\nhttp://localhost:3000/renew/L4mTmLsurUtFrfbXR4yWbVWn\r\n\r\n\r\nSite
        location: ST 58337 72855\r\nRegistration number: WEX000024\r\n\r\nExemptions:\r\n\r\n\n\n*
        F59 Use of spam in cooking\n* F60 Use of spam in cooking\n* F61 Use of spam
        in cooking\r\n\r\n\r\nRead the updated waste exemptions guidance:\r\nhttps://www.gov.uk/government/publications/waste-exemptions-how-to-choose-register-and-pay/registration-rules-and-guidance\r\n\r\nTo
        unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3000/registrations/unsubscribe/8nSf3Ee21fCJEKCdL6vRAb9m)\r\n\r\nEnvironment
        Agency Helpline\r\n03708 506 506 (Monday to Friday, 8am to 6pm)\r\nenquiries@environment-agency.gov.uk\r\n\r\n----\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Waste
        exemptions expire on 13 November 2028, final reminder to renew"},"id":"b28a245f-a836-4ea1-9946-5ad44d227cb4","reference":null,"scheduled_for":null,"template":{"id":"f308a8a9-0358-41e1-b633-ea4044ad9580","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/f308a8a9-0358-41e1-b633-ea4044ad9580","version":11},"uri":"https://api.notifications.service.gov.uk/v2/notifications/b28a245f-a836-4ea1-9946-5ad44d227cb4"}

        '
  recorded_at: Thu, 13 Nov 2025 17:31:39 GMT
recorded_with: VCR 6.3.1
