---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/letter
    body:
      encoding: UTF-8
      string: '{"template_id":"931a9338-9177-4470-a51a-3a6991561863","personalisation":{"expiry_date":"1
        July 2030","renewal_window_start_date":"3 June 2030","contact_name":"Firstcontact1
        Lastcontact1","reference":"WEX000001","exemptions":["F1 Use of spam in cooking","F2
        Use of spam in cooking","F3 Use of spam in cooking"],"business_details":["Type
        of business: Limited company","Company name: Operator 1","Company registration
        number: 09360070","Location of waste operation: ST 58337 72855","The waste
        is stored in an out-building next to the barn."],"address_line_1":"Firstcontact1
        Lastcontact1","address_line_2":"premises_2","address_line_3":"street_address_2","address_line_4":"locality_2","address_line_5":"city_2","address_line_6":"BS1
        1AA"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
      X-Vcap-Request-Id:
      - d3d2b1bc-11ab-41a3-5f03-109d1f31fb9f
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact1 Lastcontact1,\r\n\r\n# Renew
        online \u2013 you''ll need an email address to use the service\r\n\r\n1. Go
        to the website: www.gov.uk/renew-waste-exemption\r\n2. Click the \u2018Register
        or renew\u2019 button, then choose \u2018Renew\u2019.\r\n3. Fill in the form
        - the details you\u2019ll need are below, you can change them if you need
        to.\r\n\r\n# Need help to renew?\r\n\r\nCall us on 03708 506 506 (Monday to
        Friday, 8am to 6pm). Your waste exemptions registration number is WEX000001.\r\n\r\nIf
        you no longer carry out these waste operations or have already renewed your
        waste exemptions, you can ignore this reminder.\r\n\r\n# Registration details
        for registration number WEX000001\r\n\r\nYour current waste exemptions:\r\n\r\n\n\n*
        F1 Use of spam in cooking\n* F2 Use of spam in cooking\n* F3 Use of spam in
        cooking\r\n\r\n# Business details\r\n\r\n\n\n* Type of business: Limited company\n*
        Company name: Operator 1\n* Company registration number: 09360070\n* Location
        of waste operation: ST 58337 72855\n* The waste is stored in an out-building
        next to the barn.\r\n\r\nRead the guidance to check that you still meet the
        exemption rules and limits: www.gov.uk/register-waste-exemption.","subject":"Renew
        your waste exemptions by 1 July 2030. You can renew from 3 June 2030. Renewal
        is free, and should take about 10 minutes."},"id":"328310ae-ddee-41e5-a59e-e75f7d067480","reference":null,"scheduled_for":null,"template":{"id":"931a9338-9177-4470-a51a-3a6991561863","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/931a9338-9177-4470-a51a-3a6991561863","version":3},"uri":"https://api.notifications.service.gov.uk/v2/notifications/328310ae-ddee-41e5-a59e-e75f7d067480"}

'
  recorded_at: Wed, 01 Jun 2022 14:09:05 GMT
recorded_with: VCR 6.1.0
