---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact1@example.com","template_id":"6d4a8a47-bf39-4299-ab44-1f00b0d9370b","personalisation":{"private_beta_start_url":"http://localhost:3000/beta/MyString/start"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"#Private Beta - Invitation to attend\r\n\r\n##
        You have opted into the private beta. \r\n\r\nPlease click [here](http://localhost:3000/beta/MyString/start)
        on the below link to access the private beta\r\n\r\nIf there are any issues
        with attending or during the private beta process, please contact us on:\r\n\r\n0330
        1591987\r\n\r\nOpening hours: 9am to 3pm","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Invite
        to participate in Private beta"},"id":"b17f8990-9516-43bd-9709-0093d5cf5055","reference":null,"scheduled_for":null,"template":{"id":"6d4a8a47-bf39-4299-ab44-1f00b0d9370b","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/6d4a8a47-bf39-4299-ab44-1f00b0d9370b","version":7},"uri":"https://api.notifications.service.gov.uk/v2/notifications/b17f8990-9516-43bd-9709-0093d5cf5055"}

        '
  recorded_at: Thu, 23 Jan 2025 15:33:44 GMT
recorded_with: VCR 6.3.1
