---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact1@example.com","template_id":"cda801d8-ad08-4e77-ab46-94b0e9689ed7","personalisation":{"contact_name":"Firstcontact1
        Lastcontact1","exemptions":["F1 Use of spam in cooking","F2 Use of spam in
        cooking","F3 Use of spam in cooking"],"expiry_date":"13 November 2028","magic_link_url":"http://localhost:3000/renew/Y3YugeC4rEoLJUqG51WeXjXJ","reference":"WEX000001","site_location":"ST
        58337 72855","unsubscribe_link":"http://localhost:3000/registrations/unsubscribe/EJjy5D1cyPqDo2xnASZeXPRn"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact1 Lastcontact1,\r\n\r\n# Renew
        your waste exemptions by 13 November 2028\r\n\r\nYou can renew your multiple
        site registration in a few minutes. You can also amend your waste exemptions
        and sites.\r\n\r\nRenew at:\r\n\r\nhttp://localhost:3000/renew/Y3YugeC4rEoLJUqG51WeXjXJ\r\n\r\nRegistration
        number: WEX000001\r\n\r\nExemptions:\r\n\r\n\n\n* F1 Use of spam in cooking\n*
        F2 Use of spam in cooking\n* F3 Use of spam in cooking\r\n\r\n\r\nIf you no
        longer need them, you don\u2019t need to do anything. The exemptions and sites
        will be removed from the public register.\r\n\r\nRead the waste exemptions
        guidance:\r\nhttps://www.gov.uk/government/publications/waste-exemptions-how-to-choose-register-and-pay/registration-rules-and-guidance\r\n\r\nTo
        unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3000/registrations/unsubscribe/EJjy5D1cyPqDo2xnASZeXPRn)\r\n\r\nEnvironment
        Agency Helpline\r\n03708 506 506 (Monday to Friday, 8am to 6pm)\r\nenquiries@environment-agency.gov.uk\r\n\r\n----\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Waste
        exemptions expire on 13 November 2028, renew online now"},"id":"058d8c59-dacf-4cbb-9fd1-da22a85b31e1","reference":null,"scheduled_for":null,"template":{"id":"cda801d8-ad08-4e77-ab46-94b0e9689ed7","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/cda801d8-ad08-4e77-ab46-94b0e9689ed7","version":4},"uri":"https://api.notifications.service.gov.uk/v2/notifications/058d8c59-dacf-4cbb-9fd1-da22a85b31e1"}

        '
  recorded_at: Thu, 13 Nov 2025 15:58:52 GMT
recorded_with: VCR 6.3.1
