---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact39@example.com","template_id":"f308a8a9-0358-41e1-b633-ea4044ad9580","personalisation":{"contact_name":"Firstcontact39
        Lastcontact39","exemptions":["F75 Use of spam in cooking","F76 Use of spam
        in cooking","F77 Use of spam in cooking"],"expiry_date":"20 August 2028","magic_link_url":"http://localhost:3000/renew/6r7k5tY1bQkp3Vb6LTsGqdBq","reference":"WEX000039","site_location":"premises_81,
        street_address_81, locality_81, city_81, BS8181AA","unsubscribe_link":"http://localhost:3000/registrations/unsubscribe/2yD6v9h9MnrfXva2gvJsCpaj"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact39 Lastcontact39,\r\n\r\n# Renew
        your waste exemptions by 20 August 2028\r\n\r\nThis is your final reminder
        to renew exemptions online. You can ignore it if you\u2019ve already renewed
        or no longer need them. \r\n\r\nRenew at:\r\n\r\nhttp://localhost:3000/renew/6r7k5tY1bQkp3Vb6LTsGqdBq\r\n\r\n\r\nSite
        location: premises_81, street_address_81, locality_81, city_81, BS8181AA\r\nRegistration
        number: WEX000039\r\n\r\nExemptions:\r\n\r\n\n\n* F75 Use of spam in cooking\n*
        F76 Use of spam in cooking\n* F77 Use of spam in cooking\r\n\r\n\r\nRead the
        updated waste exemptions guidance:\r\nhttps://www.gov.uk/government/publications/waste-exemptions-how-to-choose-register-and-pay/registration-rules-and-guidance\r\n\r\nTo
        unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3000/registrations/unsubscribe/2yD6v9h9MnrfXva2gvJsCpaj)\r\n\r\nEnvironment
        Agency Helpline\r\n03708 506 506 (Monday to Friday, 8am to 6pm)\r\nenquiries@environment-agency.gov.uk\r\n\r\n----\r\n\r\nThis
        is an automated email, please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Waste
        exemptions expire on 20 August 2028, final reminder to renew"},"id":"e1dd99b7-8412-4db3-9c72-c0d8f3c0618c","reference":null,"scheduled_for":null,"template":{"id":"f308a8a9-0358-41e1-b633-ea4044ad9580","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/f308a8a9-0358-41e1-b633-ea4044ad9580","version":11},"uri":"https://api.notifications.service.gov.uk/v2/notifications/e1dd99b7-8412-4db3-9c72-c0d8f3c0618c"}

        '
  recorded_at: Wed, 20 Aug 2025 12:05:12 GMT
recorded_with: VCR 6.3.1
