---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact125@example.com","template_id":"69a8254e-2bd0-4e09-b27a-ad7e8a29d783","personalisation":{"contact_name":"Firstcontact155
        Lastcontact155","exemptions":["F305 Use of spam in cooking","F306 Use of spam
        in cooking","F307 Use of spam in cooking"],"expiry_date":"3 November 2028","magic_link_url":"http://localhost:3000/renew/3VLL8LYttgZvhKCVQmV3RhXW","reference":"WEX000155","site_location":"ST
        58337 72855","unsubscribe_link":"http://localhost:3000/registrations/unsubscribe/7d6otRMYK6fZSnJKj69E66jX"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact155 Lastcontact155\r\n\r\n# Renew
        by 3 November 2028\r\n\r\nYou can now use the digital service to register
        and renew your waste exemptions on multiple sites.  \r\n\r\nThe first time
        you register in the service you''ll need to answer all the questions and select
        the exemptions and sites you need. \r\n\r\nOnce registered in the service,
        your information will be saved for the next time you renew.\r\n\r\n# Before
        you start \r[...]
