---
http_interactions:
- request:
    method: post
    uri: https://api.notifications.service.gov.uk/v2/notifications/email
    body:
      encoding: UTF-8
      string: '{"email_address":"contact150@example.com","template_id":"5a4f6146-1952-4e62-9824-ab5d0bd9a978","personalisation":{"contact_name":"Firstcontact182
        Lastcontact182","exemptions":["F305 Use of spam in cooking","F306 Use of spam
        in cooking","F307 Use of spam in cooking"],"expiry_date":"20 August 2028","magic_link_url":"http://localhost:3000/start","reference":"WEX000182","site_location":"ST
        58337 72855","unsubscribe_link":"http://localhost:3000/registrations/unsubscribe/rng9WpaxHwe5c9jPmoZfRSA9"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic <API_KEY>
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"content":{"body":"Dear Firstcontact182 Lastcontact182\r\n\r\n# Register
        by 20 August 2028\r\n\r\nRegister your waste exemptions again through our
        new waste exemptions service. \r\n\r\nYou''ll need to answer the questions
        from the start and select the exemptions you want to register again.\r\n\r\nGo
        to http://localhost:3000/start and click on ''Register your waste exemptions''
        to start.\r\n \r\n## Your information\r\n\r\nSite location: ST 58337 72855\r\nRegistration
        number: WEX000182\r\n\r\nThese exemptions will expire on 20 August 2028:\r\n\r\n\n\n*
        F305 Use of spam in cooking\n* F306 Use of spam in cooking\n* F307 Use of
        spam in cooking\r\n\r\nIf you no longer need them, you don\u2019t need to
        do anything. They will be removed from the public register. \r\n\r\n##Charges
        and guidance\r\n\r\nCharges for waste exemptions came into effect on 1 July
        2025. See [waste exemption charges](https://www.gov.uk/government/publications/waste-exemptions-how-to-choose-register-and-pay/waste-exemption-charges).\r\n\r\nRead
        the updated waste exemptions guidance: \r\n \r\nhttps://www.gov.uk/government/publications/waste-exemptions-how-to-choose-register-and-pay
        \r\n\r\nTo unsubscribe from email reminders\r\n[Unsubscribe](http://localhost:3000/registrations/unsubscribe/rng9WpaxHwe5c9jPmoZfRSA9)\r\n\r\nEnvironment
        Agency Helpline\r\n03708 506 506 (Monday to Friday, 8am to 6pm)\r\nenquiries@environment-agency.gov.uk\r\n\r\n----\r\n\r\nThis
        is an automated email. Please do not reply.","from_email":"waste.exemptions@notifications.service.gov.uk","one_click_unsubscribe_url":null,"subject":"Waste
        exemptions expire on 20 August 2028: register again now"},"id":"6f4a20b7-fca9-4681-92e8-a62cfe5874a5","reference":null,"scheduled_for":null,"template":{"id":"5a4f6146-1952-4e62-9824-ab5d0bd9a978","uri":"https://api.notifications.service.gov.uk/services/367ec8d8-ae34-4e85-bb3e-870659f93c43/templates/5a4f6146-1952-4e62-9824-ab5d0bd9a978","version":23},"uri":"https://api.notifications.service.gov.uk/v2/notifications/6f4a20b7-fca9-4681-92e8-a62cfe5874a5"}

        '
  recorded_at: Wed, 20 Aug 2025 12:05:18 GMT
recorded_with: VCR 6.3.1
