<div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading-1">
  <h2 class="govuk-heading-m error-summary-heading" id="error-summary-heading-1">
    <%= error %>
  </h2>
  <p class="govuk-body">
    <%= details %>
  </p>
</div>
