<div class="govuk-summary-list__row">
  <% site_count = resource.site_addresses.count %>
  <% site_count_text = t(".values.site_count", count: site_count) %>

  <dt class="govuk-summary-list__key">
    <%= t('.heading') %>
  </dt>
  <dd class="govuk-summary-list__value">
    <p class="govuk-body govuk-!-font-weight-bold">
      <%= t('.labels.sites') %>
    </p>

    <p class="govuk-body">
      <% if resource.reference.present? %>
        <%= link_to site_count_text, registration_sites_path(registration_reference: resource.reference), class: "govuk-link" %>
      <% else %>
        <%= site_count_text %>
      <% end %>
    </p>
  </dd>
</div>
