<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= link_to(t(".back_link"), root_link_with_search_terms(params), class: "govuk-back-link") %>

    <h1 class="govuk-heading-l">
      <%= t(".heading") %>
    </h1>
  </div>
</div>

<%= render("shared/resource_details", resource: @resource) %>
