<tr class="govuk-table__row">
  <td valign="top" width="50%">
    <div class="govuk-!-padding-bottom-2">
      <strong><%= t(".labels.#{change_row[1]}") %>:</strong><br/>
      <%= change_row[3].to_s.gsub("\n", "<br/>").html_safe %><br/>
    </div>
  </td>
  <td valign="top" width="50%">
    <div class="govuk-!-padding-bottom-2">
      <strong><%= t(".labels.#{change_row[1]}") %>:</strong><br/>
      <%= change_row[2].to_s.gsub("\n", "<br/>").html_safe %><br/>
    </div>
  </td>
</tr>