@import "defra_ruby_template";
@import "partials/pagination";

.actions-panel {
  background-color: #f8f8f8;
  padding: 10px;
}

.float-right {
  float: right;
}

.govuk-table__caption--m {
  text-align: left;
}

.bucket_name {
  text-align: center;
}
