@import "defra_ruby_template";
@import "partials/pagination";

.actions-panel {
  background-color: #f8f8f8;
  padding: 10px;
}

.float-right {
  float: right;
}

.govuk-table__caption--m {
  text-align: left;
}

.bucket_name {
  text-align: center;
}

.checkbox_cell {
  padding-left: 3.8%;
}

.govuk-table__cell--no-border {
  @extend .govuk-table__cell;
  border: none;
}
