<%= render "shared/payments_table", payments: @payments, resource: @resource do |payment| %>
  <%= link_to new_registration_record_refund_path(reference: @resource.reference, payment_id: payment.id) do %>
    <%= t(".refund_payment") %>
    <span class="govuk-visually-hidden">
      <%= "ALT" %>
    </span>
  <% end %>
<% end %>
